@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Comfortaa:wght@300..700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    font-family: "Comfortaa", sans-serif;


}

/* colores */
:root{
    --color-primary:#FFFFFF;
    --color-nav: #ba6f4d;
    --blue-color:#8b493b;
    --color-caja:#8b493b;
    --pagina:#c2c193;
    --oscuro:#4e2323;
}

/* Barra de navegacion y footer */
.nav{
    width: 100%;
    background: var(--color-nav);
    display: flex;
    justify-content: space-between;
    padding: 2em 5em;
    font-weight: bold;
    color:var(--color-primary);
    /* position: fixed;
    z-index: 20; */

}

.container-logo{
    display: flex;
    align-items: center;

}
.container-logo img{
    width: 4%;
    border-radius: 6em;
}
ul{
    display: flex;
    gap:1em;
    align-items: center;
    padding:1em;


}
li{
    list-style: none;
   
}
.nav a{
    text-decoration: none;
    color: var(--color-primary);
    font-size: 0.8em;
}
.nav a:hover{
    background-color:var(--oscuro);
    color:var(--color-nav)
}
/* seccion principal */
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

}
.information{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin:1em;
}
.container-information{
    width:70%;
    display: flex;
    flex-wrap: wrap;
    background:var(--oscuro);
    

}
.news{
    width: 30%;
    background-color: var(--blue-color);
    text-align: center;
    padding: 3em;
    color:var(--color-primary);
    opacity: 0.6;
}
.news h2, h3{
    margin-bottom:0.6em;
    
    
}
.news p{
    text-align: justify;
    margin-bottom:0.6em;
    font-size: 0.8em;
    
}
.news hr{
    margin-bottom: 0.2em;
    color:var(--color-primary)
}



.title{
    font-size: 4em;
    /* margin-bottom: 1em; */
    text-align: center;
    color:var(--color-nav)
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--color-nav);
    opacity:0.5;

}
.up{
    width: 30%;
    background-color: aqua;

}
.titles{
    background-color: var(--color-nav);
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color:var(--oscuro)
   
}

.down{
    display: flex;
    flex-wrap: wrap;
}
.contain{
    width: 33%;
    gap:1em;
    
}
/* .contain p, h3{
    margin:2em;
} */
.border{
    border: solid 0.2em var(--color-primary)
}



.cont-img-main{
    width: 30%;
    height: 15em;
    /* display:flex;
    align-items: center;
    justify-content: center; */
    background: #55ACEE;
    border-radius: 13em;
    opacity: 0.5;
    background-image: url(/public/img/imgl.jpeg);
    background-position: center;


}
.img-main{
    width: 50%;
    height: 70%;
    border-radius: 1em;

}
.container-pres button{
    width: 12em;
    height: 3em;
}
/* Mosaico  */
.container-mosaico{
   width: 80%;
   height: 40em;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 4em;


}
.video{
    /* margin:2em 0; */
    background-image:url(/public/img/guitar.jpeg);
    width: 50%;
    height: 80%;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    color:var(--color-primary);
    border-radius: 0.3em;



}
.container-imagene{
    width:50% ;
    height: 40em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1em;

    /* padding:1em 0; */
}
.imagene1{
    background-image:url(/public/img/cantante.jpg);
    width: 80%;
    height: 28%;
    background-color: #66757F;
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color:var(--color-primary);
    border-radius: 0.3em;
}
.imagene2{
    background-image:url(/public/img/sax.jpg);
    width: 80%;
    height: 50%;
    background-color: #66757F;
    background-position: center;
    background-size: cover;
    filter:brightness(50%);
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color:var(--color-primary);
    border-radius: 0.3em;
}
/* Seccion Artistas                  */
.container-arist{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap:5em;
    margin:3em 1em;
    }

.img-arist{
    width: 12%;


}
.img-arist img{
    width: 100%;
    height: 10em;
    border-radius: 20em;

}
.img-arist p {
 text-align: center;
 margin-bottom: 2em;
}
.text{
    margin:2em;
    text-align: center;
}
/* footer */
footer{
background-color: var(--color-nav);
}
.derechos-autor{
    border-top: solid 0.1em var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color:var(--color-primary);
    padding:2em;
}

.derechos-autor p{
    margin:1em;
    font-size: 0.5em;
    text-align: center;
}
.autor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    gap:0.5em

}
.icons a{
    color:var(--color-primary)
}
.tex{
    width: 30%;
}
