@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Comfortaa:wght@300..700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;

}

body{
    font-family: "Comfortaa", sans-serif;
}
/* colores */
:root{
    --color-primary:#FFFFFF;
    --color-nav: #66757F;
    --blue-color:#034f84;
    --color-caja:#55ACEE;
}
/* Barra de navegacion */
.nav{
    width: 100%;
    background: var(--color-primary);
    display: flex;
    justify-content: space-between;
    padding:1.3em;
}
.container-logo{
    display: flex;
    align-items: center;
    margin-right: 0.5em;
}
ul{
    display: flex;
    gap:0.5em;
    align-items: center;
}
li{
    list-style: none;
}
.nav a{
    text-decoration: none;
}
/* seccion principal */
.prestacion{
    background: var(--blue-color);
    margin:2em;
    display: flex;
    padding:2em;
    
}
.container-pres{
    width: 70%;
    padding:1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 2em;
    margin-bottom: 1em;
    text-align: center;
}
.container-pres p{
    text-align: center;
    margin-bottom: 2em;
   
}
.cont-img-main{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-main{
    width: 90%;
}
.container-pres button{
    width: 30%;
    height: 3em;
}
/* Mosaico  */
.mosaico{
    
}
